<div class="jumbotron">
  <div class="container cover">
    <h1>Find Your Match!</h1>
    <p>This is an application that could help Codaisseur’s students and teachers to make new teams of 2 students every day.</p>
    <p>It’s an easy way to assign teams of 2 people on a daily basis during the next Academy.</p>
  </div>
</div>
